@-webkit-keyframes float {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-filter: drop-shadow(0 .25rem .5rem rgb(217, 8, 8));
            filter: drop-shadow(0 .25rem .5rem rgb(217, 8, 8));
  }
  50% {
    -webkit-transform: translateY(-0.625rem);
            transform: translateY(-0.625rem);
    -webkit-filter: drop-shadow(0 .25rem .5rem rgb(5, 244, 85));
            filter: drop-shadow(0 .25rem .5rem rgb(5, 244, 85));
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-filter: drop-shadow(0 .25rem .5rem rgba(0, 0, 0, 0.548));
            filter: drop-shadow(0 .25rem .5rem rgba(0, 0, 0, 0.548));
  }
}
@keyframes float {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-filter: drop-shadow(0 .25rem .5rem rgb(217, 8, 8));
            filter: drop-shadow(0 .25rem .5rem rgb(217, 8, 8));
  }
  50% {
    -webkit-transform: translateY(-0.625rem);
            transform: translateY(-0.625rem);
    -webkit-filter: drop-shadow(0 .25rem .5rem rgb(5, 244, 85));
            filter: drop-shadow(0 .25rem .5rem rgb(5, 244, 85));
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-filter: drop-shadow(0 .25rem .5rem rgba(0, 0, 0, 0.548));
            filter: drop-shadow(0 .25rem .5rem rgba(0, 0, 0, 0.548));
  }
}
.boot-float {
  position: fixed;
  bottom: 1.25rem;
  right: 1.25rem;
  z-index: 1000;
  -webkit-animation: float 3s ease-in-out infinite;
          animation: float 3s ease-in-out infinite;
}

.boot-float__link {
  text-decoration: none;
}

.boot-float__icon {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  -webkit-box-shadow: 0 .25rem .5rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 .25rem .5rem rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.boot-float__icon:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}